<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .red{
            color:red;
            /* background: #000; */
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model='val' @keyup.13='fn()' @keyup='retri()'>
        <button @click='fn()'>click</button>
        <ul>
            <li v-for='xx in showArr' :class="{red:xx.cl}" @click='xx.cl=!xx.cl'>
                {{xx.aVal}}
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                val:'',
                arr:[],
                showArr:[]
            },
            methods:{
                fn(){
                    this.arr.push({aVal:this.val,cl:false});
                    this.arr.sort(function(a,b){
                        return a.aVal-b.aVal;
                    });
                    this.val='';
                    this.showArr=this.arr;
                },
                //检索
                retri(elem){
                    var newArr=this.arr.filter((elem)=>{
                        return elem.aVal.indexOf(this.val)!=-1;
                    });
                    this.showArr=newArr;
                }
                // change(elem){
                //     elem.cl=!elem.cl;
                //     console.log(111);
                //     console.log(elem.cl);
                // }
            }
        })
    </script>
</body>
</html>